<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>企业要闻,医药企业最新动态,最新资讯和新闻,带来最快最全的企业新闻资讯,为人们提供专业的健康,医药公司企业要闻查询,医药企业网</string>
		<key>id</key>
		<integer>1</integer>
		<key>keywords</key>
		<string>企业要闻</string>
		<key>name</key>
		<string>企业要闻</string>
		<key>seq</key>
		<integer>6</integer>
		<key>title</key>
		<string>企业要闻</string>
	</dict>
	<dict>
		<key>description</key>
		<string>医疗新闻,医院最新资讯,医疗事故,医疗技术,最权威的医院,医疗技术,医疗信息分享平台,提供专业医疗新闻资讯查询,医疗新闻网</string>
		<key>id</key>
		<integer>2</integer>
		<key>keywords</key>
		<string>医疗新闻</string>
		<key>name</key>
		<string>医疗新闻</string>
		<key>seq</key>
		<integer>5</integer>
		<key>title</key>
		<string>医疗新闻</string>
	</dict>
	<dict>
		<key>description</key>
		<string>生活贴士,提供专门的健康生活贴士,解决健康生活问题,如何健康生活,健康生活提示,提供最新的健康生活新闻资讯,生活贴士网</string>
		<key>id</key>
		<integer>3</integer>
		<key>keywords</key>
		<string>生活贴士</string>
		<key>name</key>
		<string>生活贴士</string>
		<key>seq</key>
		<integer>4</integer>
		<key>title</key>
		<string>生活贴士</string>
	</dict>
	<dict>
		<key>description</key>
		<string>药品新闻 ,是发布中国有关药品,医疗器械,保健药品等专业医药资讯,提供最新的药品新闻资讯,药品新闻网</string>
		<key>id</key>
		<integer>4</integer>
		<key>keywords</key>
		<string>药品新闻</string>
		<key>name</key>
		<string>药品新闻</string>
		<key>seq</key>
		<integer>3</integer>
		<key>title</key>
		<string>药品新闻</string>
	</dict>
	<dict>
		<key>description</key>
		<string>食品新闻,食品新闻,食品安全新闻,食品资讯,食品行业新闻,食品资讯,餐饮资讯,提供专业的食品新闻查询,食品新闻网</string>
		<key>id</key>
		<integer>5</integer>
		<key>keywords</key>
		<string>食品新闻</string>
		<key>name</key>
		<string>食品新闻</string>
		<key>seq</key>
		<integer>2</integer>
		<key>title</key>
		<string>食品新闻</string>
	</dict>
	<dict>
		<key>description</key>
		<string>社会热点，健康资讯，综合健康资讯,生活热点新闻,社会热点新闻,社会热点查询,提供最新的健康资讯,社会热点新闻网</string>
		<key>id</key>
		<integer>6</integer>
		<key>keywords</key>
		<string>社会热点</string>
		<key>name</key>
		<string>社会热点</string>
		<key>seq</key>
		<integer>1</integer>
		<key>title</key>
		<string>社会热点</string>
	</dict>
	<dict>
		<key>description</key>
		<string>疾病快讯,疾病资讯,疾病新闻,提供专业 最新的疾病信息,疾病信息查询,了解最新的疾病资讯,疾病快讯网</string>
		<key>id</key>
		<integer>7</integer>
		<key>keywords</key>
		<string>疾病快讯</string>
		<key>name</key>
		<string>疾病快讯</string>
		<key>seq</key>
		<integer>2</integer>
		<key>title</key>
		<string>疾病快讯</string>
	</dict>
</array>
</plist>
